.root {
  font-family: "Lato";
  text-align: center;
  
  p {
    margin: 1rem;
    margin-bottom: 2rem;
    font-size: 1.2em;
    padding: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
  }
}