.wrapper {
  text-align: center;
  * {
    font-family: 'Lato';
    margin: 1em auto;
    line-height: 1.5em;
  }
  ul {
    list-style: none;
    padding: 0;
  }

}

.subhead {
  font-size: 1.1em;
  margin: 2em;
}